<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Health Housing</title>
    <link rel="stylesheet" href="C:\Users\Nicholas Eke\Downloads\Rental-Airbnbclone-project\web_flask\static\css\style.css">
</head>
<body>
    <header>
        <h1>Mental Health Housing</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script src="C:\Users\Nicholas Eke\Downloads\Rental-Airbnbclone-project\web_flask\static\js\main.js"></script>
</body>
</html>